.banlist-table {
    border: 2px solid Black;
    white-space: nowrap;
}

.banlist-table-header {
    border-bottom: 2px;
    border-style: solid;
}

.name-column {
    width: 100%;
    white-space: normal;
}

.status-column {
    text-align: center;
    vertical-align: middle;
}

:root {
    --normal-card-bg: Khaki;
    --effect-card-bg: Chocolate;
    --ritual-card-bg: CornFlowerBlue;
    --fusion-card-bg: Purple;
    --synchro-card-bg: LightGray;
    --xyz-card-bg: Black;
    --link-card-bg: MediumBlue;
    --spell-card-bg: LimeGreen;
    --trap-card-bg: DarkOrchid;
}

.normal-bg {
    background: var(--normal-card-bg) !important
}

.effect-bg {
    background: var(--effect-card-bg) !important;
}

.ritual-bg {
    background: var(--ritual-card-bg) !important;
}

.fusion-bg {
    background: var(--fusion-card-bg) !important;
}

.synchro-bg {
    background: var(--synchro-card-bg) !important;
}

.xyz-bg {
    background: var(--xyz-card-bg) !important;
}

.pendulum-normal-bg {
    background: linear-gradient(180deg, var(--normal-card-bg) 30%, var(--spell-card-bg) 70%) !important;
}

.pendulum-effect-bg {
    background: linear-gradient(180deg, var(--effect-card-bg) 30%, var(--spell-card-bg) 70%) !important;
}

.link-bg {
    background: var(--link-card-bg) !important;
}

.spell-bg {
    background: var(--spell-card-bg) !important;
}

.trap-bg {
    background: var(--trap-card-bg) !important;
}
