:root {
    --site-width: 960px;
    --site-horizontal-padding: 20px;
    --logo-length: 1.5em;
}

.root-container {
    max-width: var(--site-width);
    margin: auto;
    padding: 20px var(--site-horizontal-padding);
}

.navbar-logo {
    width: var(--logo-length);
    height: var(--logo-length);
}

.container-fluid {
    max-width: var(--site-width);
    margin: auto;
    padding: 0px var(--site-horizontal-padding);
}

h2 {
    margin-top: 20px;
}

p {
    margin: 5px 0px;
}

#ydk-input {
    height: 400px;
}

#cards {
    height: 600px;
}

.selection-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#year-selection {
    max-width: 200px;
}

#validation-result {
    white-space: pre-line;
}

.text {
    white-space: pre-line;
}
