.root-container {
    display: flex;
    flex-flow: column;
    max-width: 960px;
    margin: auto;
    row-gap: 20px;
    padding: 20px;
}

p {
    margin: 5px 0px;
}

#ydk-input {
    height: 400px;
}

#cards {
    height: 600px;
}

.inline-selection-with-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0px;
}

#year-selection {
    max-width: 200px;
}

#validation-result {
    white-space: pre-line;
}

.text {
    white-space: pre-line;
}
