<h1>YGO Junior Journey Helper</h1>
<p>
    The Junior Journey Format is an alternative format for the Yu-Gi-Oh! TCG based on the <a
        href="https://www.youtube.com/playlist?list=PLMr2265yrWMy2zvrgkvVdfgh4W1EYABnz">Yu-Gi-Oh! Junior
        Journey</a> youtube series made by <a href="https://twitter.com/MBTYuGiOh">MBT</a> and <a
        href="https://twitter.com/RJamesonBerman">RJ</a>.
    Main goal of this format is to provide simplified games with an alternative ruleset and a changing meta via
    a progressively expanding card pool.
</p>
<p>
    The legal card pool and current banlist depend on the youtube series.
    Each episode the banlist is expanded and modified and every second episode introduces new cards into the
    card pool.
    Cards are added based on the year of their release; The first format has only the cards from 2002, the
    second one adds all cards from 2003, the third one one all from 2004 and so on.
</p>
<p>
    This site aims to be a general knowledge base for this format and offers tools to assist with deck building.
</p>
<p>
    Many thanks go to <a href="https://db.ygoprodeck.com/">YGOPRODECK</a> for having online services which this
    site utilizes.
</p>

<h2>Resources</h2>
<ul>
    <li><a href="./ruleset.html">Ruleset</a>: Explains the rules of the format and differences to the regular
        TCG.</li>
    <li><a href="./banlist.html">Banlist</a>: Current and past banlists.</li>
    <li><a href="./cardoverview.html">Card Pool</a>: Card galleries for all legal cards for all formats and all
        cards that got releases in any given year. Also includes an experimental deck validator.</li>
    <li><a href="./cardsets.html">Release Timeline</a>: Chronologically sorted table of all card releases.</li>
</ul>