<h1>Ruleset</h1>
Standard TCG rules apply unless stated otherwise:
<ul>
    <li>A custom <a href="./banlist.html">Banlist</a> is used</li>
    <li>Tribute Summons require no Tributes and are treated as Normal Summons</li>
    <li>Quick-Play Spells are Spell Speed 1 (but are not treated as Normal Spells)</li>
    <li>Only 1 Spell Card can be activated each turn</li>
    <li>Only 1 Trap Card can be activated each turn</li>
    <li>Only 1 Pendulum Scale can be activated each turn</li>
    <li>Only 1 Spell/Trap can be manually set each turn</li>
    <li>No Ignition Effect Priority</li>
    <li>No hand size limit</li>
    <li>No first turn draw</li>
</ul>

<p>
    Currently open as well as closed and archived ruling questions can be found <a
        href="/ygo-jj-helper/rulingquestions.html">here</a>.
</p>

<h2>Clarifications on individual rules</h2>
<ul>
    <li>Historical card erratas are used.</li>
    <li>The Spell/Trap restrictions limit card activation attempts. If the activation or effect of your Spell/Trap Card
        is negated you can not attempt to activate another Spell/Trap Card for the rest of the turn.
        <ul>
            <li>
                After 2015 P1 this ruling is reversed: The amount of successful activations is limited and if the
                <b>activation</b> of a card is negated you can attempt to activate another one.
                This does not apply to effect negations; If the effect of your Spell/Trap is negated you can not
                activate
                another one.
            </li>
        </ul>
    </li>
    <li>Tribute Summoning</li>
    <ul>
        <li>Treating Tribute Summons as a Normal Summon is not optional; You can not tribute monsters to Normal Summon a
            high-level monster unless its card text allows or requires that.</li>
        <li>Monster with an effect that triggers on their own Tribute Summon can not active this effect when they are
            Normal Summoned (Example: Monarchs).</li>
        <li>Monster with an effect that allows them to be Tribute Summoned with more Tributes than necessary can either
            be Normal Summoned without this effect or Tribute Summoned with this effect by tributing the specified
            amount of monsters (Example: Moisture Creature).</li>
        <li>Monster with restrictions on their Tribute Summon regarding amount and type of Tributes can only be Tribute
            Summoned by tributing the necessary Tributes (that means Normal Summoning without Tributes is not allowed.)
        </li>
    </ul>
    <li>For Field Spells the official TCG rulings at that time apply.</li>
    <li>
        Activating a Pendulum Scale does not use up your single Spell Activation;
        Your single Spell Activation can not be used to activate a second Pendulum Scale.
    </li>
</ul>